<h1>Show Participant</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @participant.name %>
  </li>

  <li>
    <strong>Rating:</strong>
    <%= @participant.rating %>
  </li>

  <li>
    <strong>Seed:</strong>
    <%= @participant.seed %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.participant_path(@conn, :edit, @participant) %></span>
<span><%= link "Back", to: Routes.participant_path(@conn, :index) %></span>
