<h1>Show Match</h1>

<ul>

  <li>
    <strong>Home score:</strong>
    <%= @match.home_score %>
  </li>

  <li>
    <strong>Away score:</strong>
    <%= @match.away_score %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.match_path(@conn, :edit, @match) %></span>
<span><%= link "Back", to: Routes.match_path(@conn, :index) %></span>
